.chat{
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}
.chat__input{
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 10px;
    margin: 20px;
    background-color: #42454d;
}
.chat__input form input{
    padding: 10px;
    background: transparent;
    border: none;
    outline-width: 0;
    color: white;
    font-size: large;
    width: 100%;
    font-family: "whitney light";
}
.chat__input .MuiSvgIcon-root{
    margin-left: 14px;
    margin-right: 4px;
    cursor: pointer;
}
.chat__input .MuiSvgIcon-root:hover{
    color: white;
}
.chat__input form{
    flex: 1;
}
.chat__inputButton{
    display: none;
}
.chat__inputIcons .MuiSvgIcon-root{
    padding-right: 5px;
    cursor: pointer;
}
.chat__inputIcons .MuiSvgIcon-root:hover{
    color: white;
}
.chat__messages{
    flex: 1;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #272727;
    border-radius: 10px;
}